
.container
  %form
    %h3{:align => "center"} ADL Flowsheet
    .row
      .col-sm-12
        .table-responsive
          .table-bordered
            %table.table
              %tr
                %th.text-center{:colspan => "6"} ADL FLOWSHEET
              %tr
                %th.text-center{:colspan => "3"} (Insert code, Initials, Date &amp; Time)
                %th.text-center{:colspan => "3"} Below: Indicate by Initials
              %tr
                %th{:rowspan => "6"} Hygiene
                %td Oral Cares
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td{:rowspan => "30"}
                  %b Equipment
                %td IV Pump(s)
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Dentures Present
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Feeding Pump
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td peri-Foley Care
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td PCA Pump
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Linen Change
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Incentive Spirometer
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Bath
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Pulse Oximeter
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Trach Care
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Trapeze
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td.text-center{:colspan => "3"}
                  %b C = COMPLETE P = PARTIAL I = INDEPENDENT A = ASSIT S = SHOWER SB = SITZ BATH
                %td Sequential Compression Device
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %th{:rowspan => "7"} Activity
                %td Bed Rest
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td K-Pad
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Dangle
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td NIBP
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Ambulate
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Continous Passive Motion
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Transfer Chair
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Traction(type)
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Bathroom Privileges/BSC
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Walker
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Position Change
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Mattress Overlay
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Add Lib
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Speciality bed
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td.text-center{:colspan => "3"}
                  %b I = Independent A = Assist (Below Indicate by Initials)
                %td Hypo/Hyperthemia Blanket
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %th{:rowspan => "13"} Safety
                %td Name/ Allergy Band
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Bedside Commode
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Bed Low Position/Locked
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Abductor Pillow
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Side Rails Up 1 2 3 4
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Wound Vac
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Non-Skid Footwear
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Humidifier
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Call Light in Reach
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td Heat lamp
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Fall Precautions
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td O2 Tank
                %td
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Seizure precautions
                %td
                %td
                  Other
                  %input.form-control{:type => "Text", :value => ""}/
              %tr
                %td Isolation
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
              %tr
                %td Bed Check
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
              %tr
                %td Posey Wrap
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
              %tr
                %td Ambu Bag
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
              %tr
                %td Suction &amp; correct setup
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
              %tr
                %td Alarm &amp; Limits
                %td
                  %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
    .container
      %form
        %button.btn.btn-primary.btn-md{:type => "button"} Previous
        %button.btn.btn-primary.btn-md{:type => "button"} Next
        %button.btn.btn-primary.btn-md{:type => "button"} Save
