
.container
  %form
    %h3{:align => "center"} Cardiovascular
    .row
      %p{:align => "center"}
        %b PULSES; Indicate R(right), L (left) or B (bilateral)
      .col-sm-12
        .table-responsive
          %table.table
            %tr
              %th
              %th 0 Absent
              %th +1 Weak
              %th +2 Normal
              %th +3 Full
              %th +4 Bounding
              %th DP Doppler
            %tr
              %th Radial
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
            %tr
              %th Radial
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
            %tr
              %th Femoral
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
            %tr
              %th Popliteal
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
            %tr
              %th Dorsalis Pedis
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
            %tr
              %th Posterior Tibialis
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
              %td
                %select.form-control
                  %option R
                  %option L
                  %option B
.container
  %form
    %p
      %b HEART SOUNDS:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        S1
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        S2
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        S3
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        S4
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Regular
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Irregular
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Distant
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Murmur
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Rub
.container
  %form
    %p
      %b EDEMA:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NA
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Pitting
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Non-Pitting
    .Textbox
      %label Where
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b CAPILLARY REFILL:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}/
        \&gt;3 sec
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}/
        \&lt;3 sec
.container
  %form
    %p
      %b CARDIAC RHYTHM:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NSR
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Sinus Tachy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Sinus Brady
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        A-FIb
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        A-Flutter
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Junctional
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Ectopy(Specify)
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Paced Rhythm
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b PACEMAKER:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Na
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Temporary
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Permanent
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Implanted ICD
.container
  %form
    %p
      %b PACEMAKER Settings:
    .Textbox
      %label MA
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Rate
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Sens
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Pacemaker site:
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b Arterial Line:
    .Textbox
      %label Site:
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b WAVEFORM:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Square Wave Tested
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Dampened
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Positional
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b PA Catcher:
    .Textbox-inline
      %label Site:
      %input.form-control{:type => "Text", :value => ""}/
      %label @
      %input.form-control{:type => "Text", :value => ""}/
      %label cm
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b WAVEFORM:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Square Wave Tested
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Dampened
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Positional
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b Wedges?
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Y
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        N
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b IABP:
    .Textbox-inline
      %label Insertion Site:
      %input.form-control{:type => "Text", :value => ""}/
      %label # of Days
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b Trigger:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        EKG
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        A-line
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        A fib
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Apace
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Vpace
.container
  %form
    %p
      %b Freq:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        1:1
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        1:2
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        1:3
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        1:4
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        1:8
.container
  %form
    %button.btn.btn-primary.btn-md{:type => "button"} Previous
    %button.btn.btn-primary.btn-md{:type => "button"} Next
    %button.btn.btn-primary.btn-md{:type => "button"} Save
