
.container
  %form
    %h3{:align => "center"} Gastrointestinal
    %p
      %b ABDOMEN
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Soft
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Flat
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Firm
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Distended
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Tender
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b BOWEL SOUNDS
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Present
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Absent
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Hypo
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Hyper
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Flatus
    .Textbox
      %label Last BM
      %input.form-control{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Diarrhea
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Incontinent
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Colostomy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Ileostomy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Flex-iseal
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Rectal Tube
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NGT
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Gastrostomy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Jejunostomy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Feeding Tube
    .Textbox
      %label Type
      %input.form-control{:type => "Text", :value => ""}/
      %label Size
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b POSITION:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        R Nare
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        L Nare
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Orogastric
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Suction
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        GD
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Clamped
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Enternal Feeding(TF)
    .Textbox
      %label Drainage Color
      %input.form-control{:type => "Text", :value => ""}/
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %button.btn.btn-primary.btn-md{:type => "button"} Previous
    %button.btn.btn-primary.btn-md{:type => "button"} Next
    %button.btn.btn-primary.btn-md{:type => "button"} Save
