
.container
  %form
    %h3{:align => "center"} Nutrition
    %p
      %b DIET
    .Textbox
      %input.form-control{:type => "Text", :value => ""}/
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Pureed
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Mechanical Soft
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Thickened Liquids
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Low Residue
  %form
    .row
      %p{:align => "center"}
        %b % Taken
      .col-sm-12
        .table-responsive
          %table.table
            %tr
              %th Breakfast
              %th Lunch
              %th Dinner
            %tr
              %td
                .form-group.row
                  %label.col-sm-2.col-form-label{:for => "example-number-input"}
                  .col-sm-10
                    %input#example-number-input.form-control{:type => "number", :value => "0"}/
              %td
                .form-group.row
                  %label.col-sm-2.col-form-label{:for => "example-number-input"}
                  .col-sm-10
                    %input#example-number-input.form-control{:type => "number", :value => "0"}/
              %td
                .form-group.row
                  %label.col-sm-2.col-form-label{:for => "example-number-input"}
                  .col-sm-10
                    %input#example-number-input.form-control{:type => "number", :value => "0"}/
  %form
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Self
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Assist
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Feed
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NPO
  %form
    %p
      %b TF:
    .Textbox
      %label Product:
      %input.form-control{:type => "Text", :value => ""}/
      %label Strength
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Rate
      %input.form-control{:type => "Text", :value => ""}/
  %form
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Intermittent
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Continuous
  .Textbox
    %label Residual
    %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b PLACEMENT
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Stomach
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Duodenum
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Other
    .Textbox
      %input.form-control{:type => "Text", :value => ""}/
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %button.btn.btn-primary.btn-md{:type => "button"} Previous
    %button.btn.btn-primary.btn-md{:type => "button"} Next
    %button.btn.btn-primary.btn-md{:type => "button"} Save
