
.container
  %form
    %h3{:align => "center"} Psychosocial
    %p
      %b MARITAL STATUS:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Single
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Partnered
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Married
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Separated
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Divorced
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Widowed
.container
  %form
    %p
      %b AFFECT:
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Pleasant
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Calm
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Talkative
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Angry
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Anxious
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Withdrawn
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Crying
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Depressed
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Agitated
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        ETT/Tranch
.container
  %form
    %p
      %b SPIRITUAL NEEDS:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Roman Catholic
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Protestant
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Jewish
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Islam
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Buddhist
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Hindu
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
    .checkbox
      %label
        %input{:type => "checkbox", :value => ""}>/
        Bereaving Support Given
.container
  %form
    %p
      %b Hospic Care:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Yes
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        No
    %p
      %b Social Support:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Family
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Spouse
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Significant Other
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b Advanced Directive:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Yes
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        No
.container
  %form
    %p
      %b Resuscitation Status:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Full Code
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        DNR
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b MOTION/STRENGTH:
    .Textbox
      %label Movement
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Gait
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p Grip:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Strong
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Equal
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Weak
.container
  %form
    %p
      %b ICP DEVICE:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Ventriculostomy
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Fiberoptic Cath
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Subarachnoid Bolt
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Epidural Cath
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Epiduaral sensor
.container
  %form
    %p
      %b Prescribed Level
    .Textbox
      %label
        %input.form-control{:type => "Text", :value => ""}/
        cmH2O/mmHg@tragus
.container
  %form
    %p
      %b MONITOR:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Regular
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Camino
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Codman
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %button.btn.btn-primary.btn-md{:type => "button"} Previous
    %button.btn.btn-primary.btn-md{:type => "button"} Next
    %button.btn.btn-primary.btn-md{:type => "button"} Save
