
.container
  %form
    %p
      %b VENTILATION:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Spontaneous
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Mechanical Assist
.container
  %form
    %p
      %b PATTERN:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Regular
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Irregular
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Shallow
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        SOB
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        DOE
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Labored
.container
  %form
    %p
      %b BREATH SOUNDS:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Clear
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Bilateral
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        R
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        L
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Diminished
    .Textbox
      %label Where
      %input{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Absent
    .Textbox
      %label Where
      %input{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Crackles
    .Textbox
      %label Where
      %input{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Wheezes
    .Textbox
      %label Where
      %input.form-control{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Stridor
    .Textbox
      %label Where
      %input.form-control{:type => "Text", :value => ""}/
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Ronchi
    .Textbox
      %label Where
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b COUGH:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NA
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Dry
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Productive
.container
  %form
    %p
      %b SPUTUM:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NA
.container
  %form
    %p
      %b COLOR:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Clear
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        White
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Yellow
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Green
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Bloody
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b CONSISTENCY:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Thick
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Thin
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b AMOUNT:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Scant
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Mod
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Copious
    .form-group
      %label{:for => "exampleTextarea"} Comments
      %textarea#exampleTextarea.form-control{:rows => "3"}
.container
  %form
    %p
      %b O2 PROTOCOL IN PLACE:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        RA
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NC
    .Textbox
      %input.form-control{:type => "Text", :value => ""}/
      %label L/min
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Mask
    .Textbox
      %input.form-control{:type => "Text", :value => ""}/
      %label %
.container
  %form
    %p
      %b Ventilator Settings:
    .Textbox
      %label Mode
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label TV
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label FiO2
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label RR
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label PS
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label PEEP
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Peak Airway Pressure
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Other
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %p
      %b ETT PLACEMENT:
    .Textbox
      %input.form-control{:type => "Text", :value => ""}/
      %label cm above carina
.container
  %form
    %p
      %b TRACH:
    .radio
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NA
    .Textbox
      %label Type
      %input.form-control{:type => "Text", :value => ""}/
      %label Size
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    .container
      %form
        %p
          %b CHEST TUBE:
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            NA
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            R
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            L
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            Location
        .Textbox
          %input.form-control{:type => "Text", :value => ""}/
        .Textbox
          %label Suction
          %input.form-control{:type => "Text", :value => ""}/
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            Air Leak
        .radio
          %label
            %input{:name => "optradio", :type => "radio"}>/
            Sub Q Emphysema
        .Textbox
          %label Where
          %input.form-control{:type => "Text", :value => ""}/
        .form-group
          %label{:for => "exampleTextarea"} Comments
          %textarea#exampleTextarea.form-control{:rows => "3"}
    .container
      %form
        %button.btn.btn-primary.btn-md{:type => "button"} Previous
        %button.btn.btn-primary.btn-md{:type => "button"} Next
        %button.btn.btn-primary.btn-md{:type => "button"} Save
