
.container
  %form
    %h3{:align => "center"} Skin Risk Assessment Screen And Fall Scale Risk
    .row
      .col-sm-12
        .table-responsive
          .table-bordered
            %table.table
              %tr
                %th.text-center{:colspan => "3"} SKIN RISK ASSESSMENT SCREEN
              %tr
                %th
                %th SCORE
                %th PATIENT'S SCORE
              %tr
                %th{:colspan => "3"} SENSORY PERCEPTION
              %tr
                %td Completely Limited
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Very Limited
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Slightly Limited
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td No Impairment
                %td 4
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} MOISTURE
              %tr
                %td Constantly Moist
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Moist
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Occasionally Moist
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Rarely Moist
                %td 4
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} ACTIVITY
              %tr
                %td Bedfast
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Chairfast
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Walks Occasionally
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Walks Frequently
                %td 4
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} MOBILITY
              %tr
                %td Completely Immobile
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Very Limited
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Slightly Limited
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td No Limitations
                %td 4
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} NUTRITION SCORE
              %tr
                %td very Poor
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Probably Inadequate
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Adequate
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Excellent
                %td 4
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} FRICTION &amp; SHEAR
              %tr
                %td Problem
                %td 1
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td Potential Problem
                %td 2
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %td No Apparent Problem
                %td 3
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "42"}/
              %tr
                %th{:colspan => "3"} TOTAL SCORE
              %tr
                %th{:colspan => "3"} 18 or below:Intervention Required
              %tr
                %th{:colspan => "3"}
                  %input{:type => "checkbox", :value => ""}>/
                  Skin Intact
              %tr
                %th{:colspan => "3"}
                  %input{:type => "checkbox", :value => ""}>/
                  Pressure Ulcer Prevention Protocol in Place
              %tr
                %th{:colspan => "3"}
                  %input{:type => "checkbox", :value => ""}>/
                  See pressure Ulcer Documentation Form
    .container
      %form
        .row
          .col-sm-12
            .table-responsive
              .table-bordered
                %table.table
                  %tr
                    %th.text-center{:colspan => "3"} FALL SCALE RISK
                  %tr
                    %th
                    %th SCORE
                    %th PATIENT'S SCORE
                  %tr
                    %th{:colspan => "3"} HISTORY OF FALLING
                  %tr
                    %td No
                    %td 0
                    %td
                  %tr
                    %td Immediate or within 3 months
                    %td 25
                    %td
                  %tr
                    %td
                      %b
                        PRESENCE OF SECONDARY DIAGNOSIS:
                        Musculoskeletal Deformities or Myopathy
                        Bowel/ Bladder Incontinence/Frequent Toileting
                        TIA Stroke Diabetes Parkinson's CHF Epilepsy Constipation Dementia/Alzheimer's
                        Cardiac Dydrhythmias Alcohol/Drug Withdrawl Depression/ Anxiety Blindness/Hearing Disorders
                    %td
                    %td
                  %tr
                    %td No
                    %td 0
                    %td
                  %tr
                    %td Yes
                    %td 15
                    %td
                  %tr
                    %th{:colspan => "3"} AMBULATORY AID
                  %tr
                    %td None, Bedrest, Nurse Assist
                    %td 0
                    %td
                  %tr
                    %td Cane, Walker, Crutches
                    %td 15
                    %td
                  %tr
                    %td Furniture
                    %td 30
                    %td
                  %tr
                    %th{:colspan => "3"} IV HEPARIN LOCK
                  %tr
                    %td No
                    %td 0
                    %td
                  %tr
                    %td Yes
                    %td 20
                    %td
                  %th{:colspan => "3"} GAIT/TRANSFERRING
                  %tr
                    %td Normal, Bedrest, Wheelchair
                    %td 0
                    %td
                  %tr
                    %td Weak
                    %td 10
                    %td
                  %tr
                    %td Impaired
                    %td 20
                    %td
                  %tr
                    %th{:colspan => "3"} MENTAL STATUS
                  %tr
                    %td Oriented to own Ability
                    %td 0
                    %td
                  %tr
                    %td Overestimates/Forgets Limitations
                    %td 15
                    %td
                  %tr
                    %th{:colspan => "3"} TOTAL SCORE
                  %tr
                    %th{:colspan => "3"} &gt;25 Initiate Fall Risk Measures
                  %tr
                    %th{:colspan => "3"}
                      %input{:type => "checkbox", :value => ""}>/
                      Patient refuses to wear red slippers in bed
                  %tr
                    %th{:colspan => "3"}
                      %input{:type => "checkbox", :value => ""}>/
                      Unable to wear slippers due to
                      %input.form-control{:type => "Text", :value => ""}/
                  %tr
                    %th{:colspan => "3"}
                      %input{:type => "checkbox", :value => ""}>/
                      Sign on door
                %form
                  %p
                    %b MEDICATIONS
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Anti-seizure Meds
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Laxatives
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Sedatives/Hypnotics
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Benzodoazepines
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Narcotic Analgesics
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Blood Thinners
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Diuretics
                  .checkbox-inline
                    %label
                      %input{:type => "checkbox", :value => ""}>/
                      Psychotropics
                .container
                  %form
                    %button.btn.btn-primary.btn-md{:type => "button"} Previous
                    %button.btn.btn-primary.btn-md{:type => "button"} Next
                    %button.btn.btn-primary.btn-md{:type => "button"} Save
