
.container
  %form
    %h3{:align => "center"} Skin/Mucuous Membranes
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Ashen
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Pink
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Pale
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Cyanotic
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Jaundiced
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Mottled
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Flushed
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Cool
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Cold
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Warm
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Hot
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Moist
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Diaphoretic
    .checkbox-inline
      %label
        %input{:type => "checkbox", :value => ""}>/
        Dry
  %div
    .container
      %p
        %b TURGOR:
      .radio-inline
        %label
          %input{:name => "optradio", :type => "radio"}>/
          Adequate
      .radio-inline
        %label
          %input{:name => "optradio", :type => "radio"}>/
          Decreased
      .form-group
        %label{:for => "exampleTextarea"} Comments
        %textarea#exampleTextarea.form-control{:rows => "3"}
    .container
      %form
        %button.btn.btn-primary.btn-md{:type => "button"} Previous
        %button.btn.btn-primary.btn-md{:type => "button"} Next
        %button.btn.btn-primary.btn-md{:type => "button"} Save
