
.container
  %form
    %h3{:align => "center"} Skin Assessment
    .row
      %p{:align => "center"}
        %b WOUND ASSESSMENT(Circle appropriate parameters)
      .col-sm-12
        .table-responsive
          .table-bordered
            %table.table
              %tr
                %th Stage
                %th Other Wounds
                %th Size(L X W)
                %th Depth(cm only)
                %th Undermining
                %th Drainage
                %th Amount
                %th Color of Wound
                %th Periwound surrounding skin
              %tr
                %td I
                %td Venous Ulcer
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td present
                %td None
                %td Scant
                %td Red
                %td Intact
              %tr
                %td II
                %td Burn
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td Absent
                %td Serous
                %td Moderate
                %td Pink
                %td Induration
              %tr
                %td III
                %td Maceration
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td Unable to determine
                %td Serosanguinous
                %td Copious
                %td Yellow Slough
                %td Erythema
              %tr
                %td IV
                %td Excoriation
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td Sanguineous
                %td
                %td Black Escar
                %td Maceration
              %tr
                %td Unable to Determine
                %td Diabetic ulcer
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td Purulent
                %td
                %td
                %td Pale
              %tr
                %td Deep Tissue Injury
                %td Arterial ulcer
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td
                  .Textbox
                    %label Other
                    %input.form-control{:type => "Text", :value => ""}/
                %td
                %td
                %td Dark/Purple
              %tr
                %td
                %td Incision
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td
                %td
                %td
                %td
              %tr
                %td
                %td Scar
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td
                %td
                %td
                %td
              %tr
                %td
                %td Skin Tears
                %td
                  %select.form-control
                    %option L
                    %option X
                    %option W
                %td
                  .form-group.row
                    %label.col-xs-2.col-form-label{:for => "example-number-input"}
                    .col-xs-10
                      %input#example-number-input.form-control{:type => "number", :value => "0"}/
                %td
                %td
                %td
                %td
                %td
    .container
      %form
        %p.text-center
          %strong LOCATION(Specify by Circling)
        %div
          %img.img-thumbnail{:alt => "", :src => "C:\\Users\\vermapooja\\Pictures\\2.PNG"}/
    .container
      %form
        %div
          %img.img-thumbnail{:alt => "", :src => "C:\\Users\\vermapooja\\Pictures\\3.PNG"}/
    .container
      %form
        %button.btn.btn-primary.btn-md{:type => "button"} Previous
        %button.btn.btn-primary.btn-md{:type => "button"} Next
        %button.btn.btn-primary.btn-md{:type => "button"} Save
