
.container
  %form
    %h3{:align => "center"} VTE Risk Assessment
    .row
      .col-sm-12
        .table-responsive
          .table-bordered
            %table.table
              %tr
                %th.text-center{:colspan => "5"} VTE RISK ASSESSMENT
              %tr
                %th EACH RISK FACTOR REPRESENTS 1 POINT:
                %th EACH RISK FACTOR REPRESENTS 2 POINTS:
                %th EACH RISK FACTOR REPRESENTS 3 POINTS:
                %th EACH RISK FACTOR REPRESENTS 5 POINTS:
                %th PATIENT'S TOTAL SCORE(RISK):
              %tr
                %td
                  %ul.list-unstyled
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Age 41-60
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Obesity(BMI&gt;30)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Acute MI (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      CHF (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Sepsis (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Lung Disease,including Pneumonia (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      medical patient currently on bedrest
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      leg plaster cast or brace
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Oral contraceptives or hormone replacement therapy
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Pregnancy or postmartum&gt;
                %td
                  %ul.list-unstyled
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Age 61-74
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Morbid Obesity (BMI&gt;40)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Central Venous Access
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Surgical procedure (&gt;30 minutes) requiring inhospital stay(&gt;24 hours)post op
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Previous cancer/malignancy
                %td
                  %ul.list-unstyled
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Age over 75
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      BMI&gt; 75)
                    %li
                      %input{:type => "checkbox", :value => ""}/
                      History of DVT/PE
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Present Cancer/malignancy and/or chemotherapy
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Hypercoaguable states:
                      %ul
                        %li Factor V leiden mutation
                        %li Antithrombin III deficiency
                        %li protein C or Protein S deficincy
                        %li Antiphospholipid antibodies
                        %li lupus anticoagulant
                %td
                  %ul.list-unstyled
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Stroke
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Multiple trauma (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}/
                      Hip, pelvis, or leg fracture (&lt;1 month) Acute spinal cord injury (&lt;1 month)
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Elective major lower extrmity arthroplasty
                %td
                  %ul.list-unstyled
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      low risk: 0-1
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Moderate Risk: 2
                    %li
                      %input{:type => "checkbox", :value => ""}/
                      High risk: 3 or &gt;
                    %li
                      %input{:type => "checkbox", :value => ""}>/
                      Already on prophylaxis
    .container
      %form
        %button.btn.btn-primary.btn-md{:type => "button"} Previous
        %button.btn.btn-primary.btn-md{:type => "button"} Next
        %button.btn.btn-primary.btn-md{:type => "button"} Save
