- if logged_in?
  %h1
    Welcome
    = current_user.first_name
    !
  %hr

  %h3 In-Progress
  - if !@submissions_in_progress.empty?
    %p You have the following submissions in progress:
    %hr
    - @submissions_in_progress.each do |submission|
      - if submission.step_id.nil?
        = link_to "Submission for " + submission.patient_initials, edit_submission_path(submission)
      - else
        = link_to "Submission for " + submission.patient_initials, edit_submission_path(submission, :tab => submission.step_id)
  %hr

  = link_to 'New Submssion', new_submission_path, :class => "btn btn-primary"

- else
  %h1 Please Login

-#%h1 New user

-#= render 'form'

-#= link_to 'Sign Up', users_path, :class => "btn btn-primary"
