%h1
  Welcome
  = current_user.first_name
  !
%hr
%h3 In-Progress
- if !current_user.submissions.empty?
  %p You have the following submissions in progress:

= link_to 'New Submssion', new_submission_path
