%h1 Editing History

.btn-group
  = link_to 'Back', admin_patient_path(@patient), class: "btn btn-default"
= render 'form'

-#= render 'form'

-#= link_to 'Show', @history
-#\|
-#= link_to 'Back', histories_path
