%h1 Editing Order

.btn-group
  = link_to 'Back', admin_patient_history_orders_path(@patient, @history), class: "btn btn-default"
= render 'form'

-#= render 'form'

-#= link_to 'Show', @order
-#\|
-#= link_to 'Back', orders_path
