.admin-page-wrapper

  .col-md-8.history-information
    = render "layouts/admin/patient_menu", :patient => @patient, :history => @history
    %hr
    %h1 Orders
    = link_to 'Add Order +', new_admin_patient_history_order_url(@patient, @history), class: "btn btn-success"
    %hr
    %table.table.datatable
      %caption Optional table caption.
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Username
      %tbody
        %tr
          %th{:scope => "row"} 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %th{:scope => "row"} 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %th{:scope => "row"} 3
          %td Larry
          %td the Bird
          %td @twitter

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
