.col-md-8.history-information
  = render "layouts/patient_menu", :patient => @patient, :history => @history
  %hr
  %h1 Orders
  %hr
  %table.table.datatable
    %thead
      %tr
        %th Date and Time
        %th
    %tbody
      - @orders.each do |order|
        %tr
          %td.date-object= order.date_time
          %td
            = link_to 'View', patient_history_order_path(@patient, @history, order), :class => "btn btn-default btn-xs"

.col-md-4.information-block
  %h2 Patient Details
  = render "admin/patient_block"
