.admin-page-wrapper {
  h1 {
    color: $utep_blue
  }
}
.dashboard-options {
  padding: 0 15px;
  .option {
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 23px;
    &.orange {
      background-color: $utep_orange;
    }
    &.blue {
      background-color: $utep_blue;
    }
  }
}
