%h1 New patient

.col-sm-3.left-tabs
  %nav.nav-bar
    .nav-container
      %a#nav-menu.nav-menu &#9776; Menu
      %ul#nav.nav-list
        %li
          %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}Patient Information
        .dropdown
          %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}Patient History
          %span.caret
          %ul.dropdown-menu
            %li
              %a{"data-toggle" => "tab", :href => "#x"} Labs
            %li
              %a{"data-toggle" => "tab", :href => "#y"} Orders
            %li
              %a{"data-toggle" => "tab", :href => "#z"} MAR
            %li
              %a{"data-toggle" => "tab", :href => "#aa"} PRN MAR

.col-md-12
%h1 New Patient

= render 'form'

= link_to 'Back', patients_path
