.admin-page-wrapper

  .col-md-4.information-block
    = render 'form'






  -# = render 'form'
  -# .row.dashboard-options
  -#   = link_to new_admin_patient_path do
  -#     .col-sm-4.option.orange
  -#       Add New Patient
  -#     .col-sm-4.option.blue
  -#       View Reports
  -# = link_to 'Back', admin_patients_path
