.admin-page-wrapper

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"

  .col-md-8.history-information

    = render "layouts/admin/patient_menu", :patient => @patient

    %h2 Histories
    = link_to 'New History', new_admin_patient_history_url(@patient), class: "btn btn-success"
    %hr

    %table.table.datatable
      %thead
        %tr
          %th Date
          %th Labs
          %th

      %tbody
        %tr
          %td August 22, 1939
          %td 2
          %td
            = link_to 'View History', root_url, :class => "btn btn-default btn-xs"






  -# = render 'form'
  -# .row.dashboard-options
  -#   = link_to new_admin_patient_path do
  -#     .col-sm-4.option.orange
  -#       Add New Patient
  -#     .col-sm-4.option.blue
  -#       View Reports
  -# = link_to 'Back', admin_patients_path
