= f.input :urine
= f.input :color
= f.input :dialysis


.container
  %form
    %h3{:align => "center"} Genitourinary
    %p
      %b URINE:
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Voids
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Incontinent
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        External (Condom)cath
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Foley
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Suprapubic
    .Textbox
      %label Type
      %input.form-control{:type => "Text", :value => ""}/
      %label Size
      %input.form-control{:type => "Text", :value => ""}/
    .Textbox
      %label Insertion Date
      %input.form-control{:type => "Text", :value => ""}/
  %form
    %p
      %b COLOR:
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Straw
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Yellow
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Amber
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Clear
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Cloudy
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Mucus
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Clots
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Hematuria
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Sediment
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Anuric
  %form
    %p
      %b DIALYSIS:
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        NA
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Hemo
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        CAPD
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Catheter
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Fistula
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Shunt
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Bruit
    .radio-inline
      %label
        %input{:name => "optradio", :type => "radio"}>/
        Thrill
    .Textbox
      %label Location
      %input.form-control{:type => "Text", :value => ""}/
.container
  %form
    %button.btn.btn-primary.btn-md{:type => "button"} Previous
    %button.btn.btn-primary.btn-md{:type => "button"} Next
    %button.btn.btn-primary.btn-md{:type => "button"} Save
