-# = f.input :time
-# = f.input :t
-# = f.input :p
-# = f.input :r
-# = f.input :b_p
-# = f.input :sao2
-# = f.input :pas_pad
-# = f.input :pcwp
-# = f.input :cvp
-# = f.input :gcs
-# = f.input :icp
-# = f.input :i
-# = f.input :o
-# = f.input :other_ct_ngt_drains
-# = f.input :titrated_meds_or_meds_treatment_based_on_patients_condition
-# = f.input :other_relevant_notes



-#%button.btn.btn-default.button-next{:type => "button"}
  %i.fa.fa-arrow-right.pull-right{"aria-hidden" => "true"}
  Submit
%p Click below to complete your form 
