.col-md-12
  = f.input :skin_type, :collection => [['ashen', 'Ashen'], ['pink', 'Pink'], ['pale', 'Pale'], ['cyanotic', 'Cyanotic'], ['jaundiced', 'Jaundiced'], ['mottled', 'Mottled'], ['flushed', 'Flushed'], ['cool', 'Cool'], ['warm', 'Warm'], ['hot', 'Hot'], ['moist', 'Moist'], ['diaphoretic', 'Diaphoretic'], ['dry', 'dry']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :turgor, :collection => [['adequate', 'Adequate'], ['decreased', 'Decreased']], :label_method => :last, :value_method => :first, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => true, :class => "form-control"
  = f.input :turgor_comments, :class => "form-control"




-# = f.input :skin_type
-# = f.input :ashen
-# = f.input :pink
-# = f.input :pale
-# = f.input :cyanotic
-# = f.input :jaundiced
-# = f.input :mottled
-# = f.input :flushed
-# = f.input :cool
-# = f.input :cold
-# = f.input :warm
-# = f.input :hot
-# = f.input :moist
-# = f.input :diaphoretic
-# = f.input :dry
-# = f.input :turgor
-# = f.input :turgor_comments
