.col-md-12.well
  %h3{:align => 'center'} Vital Signs Documentation
  .table-responsive
    %table.table.table-bordered
      %thead
        %tr
          %th Time
          %th T
          %th P
          %th R
          %th B/P
          %th SaO2
          %th PAS/PAD
          %th PCWP
          %th CVP
          %th GCS
          %th ICP
          %th I
          %th O
          %th Other CT/NGT/Drains
          %th Titrated Meds or Meds/Treatments Based on Patient's Condition
          %th Other Relevant Notes
      %tbody
        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td

        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td
