-#
-# .date_and_time_picker
-#   %h3 Order Date
-#   = f.hidden_field :order_date, :value => @mar.order_date

-# = f.input :order_mars, :class => "form-control"
-# = f.input :order_prescribed_by, :class => "form-control"
-# = f.input :prescriber_initials, :class => "form-control"
-# = f.input :nurse_signature, :class => "form-control"
-# = f.input :nurse_initials, :class => "form-control"
