%h1 Listing prns

.col-md-8.history-information
  = render "layouts/patient_menu", :patient => @patient, :history => @history
  %hr
  %h1 PRNs
  %hr
  %table.table.datatable
    %thead
      %tr
        %th Date Ordered
        %th Ordering M.D

    %tbody
      - @prns.each do |lab|
        %tr
          %th= lab.date_ordered
          %td= lab.ordering_md


.col-md-4.information-block
  %h2 Patient Details
  = render "admin/patient_block"
