// Place all the styles related to the Mars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.monthDay, .mar-time {
  font-weight:normal;
  // padding-left: 4px !important;
}
.mar td {
  //  font-size: 10px;
  //  padding-left: 8px;
}
td.col-xs-8{
  border-right: 1px solid #000
}
.mar tr:first-child, td:nth-of-type(n+1) {
  border-bottom: 1px solid #eee;
}
.allergies {
  color: red;
}
