.admin-page-wrapper

  .col-md-8.history-information
    = render "layouts/admin/patient_menu", :patient => @patient, :history => @history
    %hr
    %h1 PRNs
    = link_to 'Add PRN +', new_admin_patient_history_prn_url(@patient, @history), class: "btn btn-success"
    %hr
    %table.table.datatable
      %caption Optional table caption.
      %thead
        %tr
          %th Date Issued
          %th First Name
          %th Last Name
          %th Username
      %tbody
        - @labs.each do |lab|
          %tr
            %th= lab.date_and_time_drawn
            %td Mark
            %td Otto
            %td @mdo
          %tr
            %th{:scope => "row"} 2
            %td Jacob
            %td Thornton
            %td @fat
          %tr
            %th{:scope => "row"} 3
            %td Larry
            %td the Bird
            %td @twitter

  .col-md-4.information-block
    %h2 Patient Details
    = render "admin/patient_block"
