%footer
  .container
    .col-md-3.footerLogo
      %img.img-responsive{:alt => "UTEP", :src => "http://www.utep.edu/_colleges-cascade-files/images/UTEP-Footer.png", :title => "UTEP"}
    .col-md-9.requiredLinks
      %h2 THE UNIVERSITY OF TEXAS AT EL PASO
      %ul
        %li
          %a{:href => "http://admin.utep.edu/Default.aspx?tabid=59577", :target => "_blank"} Web Accessibility
        %li
          %a{:href => "https://adminapps.utep.edu/emergencynotification/generic/", :target => "_blank"} Campus Alerts
        %li
          %a{:href => "https://www.utep.edu/clery/", :target => "_blank"} Clery Crime Statistics
      %ul
        %li
          %a{:href => "http://admin.utep.edu/Default.aspx?tabid=73912", :target => "_blank"} Employment
        %li
          %a{:href => "http://sao.fraud.state.tx.us/", :target => "_blank"} Report Fraud
        %li
          %a{:href => "http://admin.utep.edu/Default.aspx?tabid=54275", :target => "_blank"} Required Links
      %ul
        %li
          %a{:href => "http://admin.utep.edu/Default.aspx?tabid=49976", :target => "_blank"} State Reports
        %li
          %a{:href => "http://www.utsystem.edu/", :target => "_blank"} UT System
        %li
          %a{:href => "http://utep.edu/feedback", :target => "_blank"} Site Feedback
      .clearfix
      %p 500 West University Avenue | El Paso, TX 79968 | 915-747-5000
